.App {
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pointer-events {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-conainer {
  height: 100vh;
  font-family: "Indie Flower", cursive;
  background-image: url("./assets/images/mainbg.png");
  background-size: contain;
}
.voice-alphabate-game-home-container {
  height: 100vh;
  font-family: "Indie Flower", cursive;
  background-image: url("./assets/images/voice-words.jpg");
  background-size: contain;
}
.voice-alphabate-game-container {
  height: 100vh;
  font-family: "Indie Flower", cursive;
  background-image: url("./assets/images/voice-words.jpg");
  background-size: contain;
}

.main-container-tictactoe-home {
  background-image: url("./assets/images/tictactoe-game-bg.jpg");
  background-size: contain;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
